.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: none;
  background-color: lightgreen;
  border: 1px solid green;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  width: 30%;
  cursor: pointer;
}

.animal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
